<?xml version="1.0" encoding="utf-8"?>
<!-- Nenhuma permissão declarada (nem internet): o app não consegue enviar dados a lugar nenhum. -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application
        android:label="Calculadora"
        android:icon="@drawable/ic_launcher"
        android:allowBackup="false"
        android:theme="@style/Theme.Calculadora">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:configChanges="orientation|screenSize|keyboardHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
